# Arquivos de Dados
*.csv
*.log
*.pkl

# Cache do Python
__pycache__/
*.pyc
*.pyo

# Ambiente Virtual
venv/
.venv/

# Arquivos Temporários e de Sistema
*.tmp
*.swp
*.swo
.DS_Store
Thumbs.db

# Arquivos de Configuração do IDE
.vscode/
.idea/

# Arquivos de Build e Distribuição
build/
dist/
*.egg-info/

# Ignorar Arquivos de Resultados
/results/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
