<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Forecast</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Stock Forecast</h1>
        <form action="/forecast" method="post">
            <div class="form-group">
                <label for="stock">Select Stock:</label>
                <select name="stock" id="stock" class="form-control" required>
                    <option value="" disabled selected>Selecione uma ação</option>
                    {% for stock in stocks %}
                        <option value="{{ stock['symbol'] }}">{{ stock['symbol'] }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>
