<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Forecast</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Stock Forecast</h1>
        <form action="/forecast" method="post">
            <div class="form-group">
                <label for="stock">Select Stock:</label>
                <select name="stock" id="stock" class="form-control" required>
                    <option value="" disabled selected>Selecione uma ação</option>
                    {% for stock in stocks %}
                        <option value="{{ stock['symbol'] }}">{{ stock['symbol'] }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <button class="toggle-button" onclick="toggleMode()">Toggle Mode</button>
    <script>
        function toggleMode() {
            document.body.classList.toggle('dark-mode');
            document.body.classList.toggle('light-mode');
        }

        // Definir o modo inicial
        document.body.classList.add('light-mode');
    </script>
</body>
</html>
