/* styles.css */

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    margin-top: 50px;
}

/* Modo claro */
body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

.light-mode .card {
    background-color: #f8f9fa;
    border-color: #dee2e6;
}

/* Modo escuro */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode .card {
    background-color: #1e1e1e;
    border-color: #333333;
}

/* Botão de alternância */
.toggle-button {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.toggle-button:hover {
    background-color: #0056b3;
}